<?xml version="1.0" encoding="UTF-8"?>

<web-app id="starter" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Mike and Jenny's Wedding Web Application</display-name>
    <!-- Enable optimizations -->
    <context-param>
        <param-name>runningInProduction</param-name>
        <param-value>${optimize}</param-value>
    </context-param>
    <!-- Filters -->	    
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>DEBUG</param-value>
        </init-param>
    </filter>
    <filter-mapping>
	  <filter-name>UrlRewriteFilter</filter-name>
	  <url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
